/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* head */
.head{
  background-image: url("img/background.jpg");
    background-attachment: fixed;
    height: 100vh;
    opacity: .8;
}

.nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    background-color: beige;
    opacity: 0.8;
}
.nav__item{
    padding: 1rem;
    font-size: 1.4rem;
    margin: 1%;
    letter-spacing: .5rem;
    cursor: pointer;
}
.nav__link{
    color: black;
}
.nav__item--move{
    margin-right: 50%;
    font-weight: bold;
    font-size: 1.6rem;
}
.nav__item--cuadro{
   border: 4px solid;
}

.title{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    letter-spacing: 1.3rem;
}
.title__line{
    margin-top: 2%;
    width: 10%;
    border: 2px solid #00b300;
}
/* content */
.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(120, 100%, 35%,.1);
    margin-top: 3%;
}
.text{
    width: 30%;
    height: 70%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text__line{
    width: 25%;
    margin-top: 3%;
    border: 2px solid hsl(120, 100%, 35%);
}
.service{
    display: flex;
    width: 90%;
    height: 20%;
    justify-content: space-between;
}
.service__item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 10px #d6d6d6;
    margin-bottom: 5%;
    background-color: #fff;
}
.service__img {
    width: 100%;
    height: 40vh;
}
.service__img--1{
    background-image: url("img/img1.jpg");
}
.service__img--2{
    background-image: url("img/img2.jpg");
}
.service__img--3{
    background-image: url("img/img3.jpg");
}
.service__text{
    width: 80%;
    display: flex;
    align-items:center;
    padding: 3%;
    text-align: center;
    font-size: 1.2rem;
    height: 50%;
}
/*footer*/
.footer{
    background-color: hsla(120, 100%, 35%,.1);
    margin-top: 5%;
    display: flex;
}
.footer__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.footer__img{
    height: 100%;
    filter: blur(1px);
}
.footer__text{
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-align: justify;
}
.footer__title{
  font-size: 2rem;
}
.footer__line{
    width: 5%;
    border: 2px solid #00b300;
    margin-top: .8%;
    margin-bottom: 2%;
}
/* movil vertical */
@media only screen and (min-width:320px)
{
    .head{
        background-position: top left;
        height: 60vh;
    }
    .nav__item{
        padding: 1rem;
        font-size: 1rem;
        margin: 1%;
        letter-spacing: .5rem;
    }.title{
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 1rem;
        text-align: center;
        height: 100%;
    }.service{
        flex-direction: column;
    }
    .service__item{
        width: 100%;
    }
    .footer{
        flex-direction: column;
    }
    .footer__item:first-child{
        height: 50%;
    }
    .footer__item:last-child{
        height: 110%;
    }
    .footer__img{
        width: 100%;
        height: 50%;
        filter: none;
    }
    .footer__title{
        margin-top: 10%;
    }
    .footer__text{
        font-size: 1rem;
        width: 90%;
    }
}

@media only screen and (max-width:321px) and (min-width:481px)
{
    .nav__item{
        display: none;
    }
    .title{
        width: 100%;
        font-size: 1.5em;
        letter-spacing: 1rem;
        text-align: center;
        height: 100%;
    }
    .service{
        flex-direction: column;
    }
    .service__item{
        width: 100%;
    }
    .footer{
        flex-direction: column;
    }
    .footer__item:first-child{
        height: 50%;
    }
    .footer__item:last-child{
        height: 110%;
    }
    .footer__img{
        width: 100%;
        height: 50%;
        filter: none;
    }
    .footer__title{
        margin-top: 10%;
    }
    .footer__text{
        font-size: 1rem;
        width: 90%;
    }
    #nav-icon{
        width: 50px;
        height: 35px;
        margin: 5% 80%;
        position: relative;
        transform:rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon span{
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
    }

    #nav-icon span:first-child{
        top: 0;
    }
    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3)
    {
        top: 18px;
    }
    #nav-icon span:last-child{
        top: 36px;
    }
    #nav-icon.open span:first-child{
        top: 18px;
        width: 0%;
        left: 50%;
    }
    #nav-icon.open span:nth-child(2){
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
    #nav-icon.open span:nth-child(3){
        transform: rotate(-45deg);  
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
    #nav-icon.open span:last-child{
        top:18px;
        width: 0;
        left: 50%;
    }
    .nav{
        flex-direction: column;
    } 
    #nav-icon.open ~ .nav__item{
       display: block;
    }
}

@media only screen and (max-width:769px){
   .head{
       background-position: top;
   }
   .nav__item{
      font-size: 1.2rem;
   }
   .title{
      font-size: 3rem;
   }
   
}